body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 65px;
    color: white;
}
.first-para{
    color: white;
    text-align: center;
    word-break: 1.2px;
}
.first-portion{
    background-image: url(images/donation13.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    width: auto;
    height: 90vh;
    padding: 90px;
}
.donate-button{
    text-decoration: none;
    color: white;
    background-image:linear-gradient(orange,tomato);
    border-radius:7px;
    padding: 8px 30px;
    font-weight: 600;
    
}
first-portion-div text{
    color: white;
    text-align: center;

}
ul li{
    display:inline-block;
    color: grey;
    box-shadow: -20px -20px -50px gray;
    margin:10px;
    text-align: center;
    font-size: 30px;
    padding: 30px 20px;
    font-weight: 700;
   
}
.second-h1{
    color:black;
    font-size: 50px;
}
.second-portion-money {
    text-align: center;
    color:grey
}

.money-varient{
    border-bottom: 1px solid grey;
    margin: 0px 350px;
}
#takar-id{
    color: tomato;
    border: 2.5px solid tomato;
    border-radius: 7%;
    background-image: linear-gradient(orange tomato);
}
.icon-part{
    display: flex;
    margin: 20px 70px;
}
.food{
    background-color: rgba(128, 128, 128, 0.185);
}   
.medicine{
    background-color: rgba(255, 99, 71, 0.233)  
}
.shelter{
    background-color:rgba(153, 205, 50, 0.178)   
}
.icon{
    margin: 10px;
    padding: 60px 25px;
    border-radius: 2%;
    text-align: left;
}
.fourth-part{
    display: flex;
}
.half-space{
    width: 40%;
    padding-left: 5%;
    margin: 20px 40px;
    padding-right: 5%;
}
.half-space img{
    width: 110%;
    border: 10px solid white;
    border-radius: 4%;
    margin-right: 600px;
    height: 110vh;
    
}
.grey-color{
    color: gray;
}
